:root {
    --primary-color: #e2e2e2;
    --secondary-color: #c2c2c2;
    --large: 300px;
    --small: 15px;
    --timing: 8s;
}

body-welcome {
    width: 100vw;
    height: 100vh;
    display: grid;
    overflow: hidden;
    justify-content: center;
    align-content: center;
}

main, section {
    height: 300px;
    width: 100vw;
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

section {
    height: auto;
  
}

.welcome-circle{
    background-color: var(--primary-color);
    width: var(--small);
    height: var(--small);
    border-radius: calc( var(--small) / 2);
    display: inline-block;
    animation: breath var(--timing) ease infinite none running
    
}

input {
    margin: 10px 0;
    height: 30px;
    width: 200px;
    font-size: 1.25em;
    border-radius: 25px;
    margin: 0 auto;
    color: #e0dee2;
    opacity: 0.70;
}

h1,p, a, input {
    color: #62748c;
    font-family:'Prompt', sans-serif;
    text-align: center;
}

label {
    color: #CEA5F1;
    opacity: 0.5;
    font-family:'Prompt', sans-serif;
    text-align: center;
}

a {
    padding-top: 30px;
}

@keyframes breath {
 25%, 50% {
    background-color: var(--secondary-color);
    width: var(--large);
    height: var(--large);
    border-radius: calc( var(--large) / 2);
 }   
}
